# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models and specific ignore lists
download_models.py

# Docker
docker-compose.override.yml
*.dockerignore

# IDEs
.idea/
.vscode/

# OS Specific
.DS_Store
Thumbs.db
